<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--세션 유지 시간 지정(단위 : 분)-->
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <filter>
        <filter-name>SetCharEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>OracleDriver</param-name>
        <param-value>oracle.jdbc.OracleDriver</param-value>
    </context-param>
    <context-param>
        <param-name>OracleURL</param-name>
        <param-value>jdbc:oracle:thin:@localhost:1521:ORCL</param-value>
    </context-param>
    <context-param>
        <param-name>OracleId</param-name>
        <param-value>test</param-value>
    </context-param>
    <context-param>
        <param-name>OraclePwd</param-name>
        <param-value>bitc5600</param-value>
    </context-param>
    <context-param>
        <param-name>POSTS_PER_PAGE</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>POSTS_PER_BLOCK</param-name>
        <param-value>5</param-value>
    </context-param>
<!--    참고하세요-->
<!--    &lt;!&ndash;서블릿&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <servlet-class>com.servlet.HelloServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        <url-pattern>/13/HelloServlet.do</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>MemberAuth</servlet-name>-->
<!--        <servlet-class>com.servlet.MemberAuth</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>admin_id</param-name>-->
<!--            <param-value>nakja</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>MemberAuth</servlet-name>-->
<!--        <url-pattern>/13/MemberAuth.mvc</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    &lt;!&ndash;14장 게시판 만들기 서블릿&ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>MVCBoardList</servlet-name>-->
<!--        <servlet-class>com.model2.mboard.ListController</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>MVCBoardList</servlet-name>-->
<!--        <url-pattern>/mvcboard/list.do</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>MVCBoardWrite</servlet-name>-->
<!--        <servlet-class>com.model2.mboard.WriteController</servlet-class>-->
<!--        <multipart-config>-->
<!--            <max-file-size>1048576</max-file-size>-->
<!--            <max-request-size>10485760</max-request-size>-->
<!--        </multipart-config>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>MVCBoardWrite</servlet-name>-->
<!--        <url-pattern>/mvcboard/write.do</url-pattern>-->
<!--    </servlet-mapping>-->


</web-app>